<div class="row" width="90%">
    <div class="col-md-8">
            <h1 class="heading"> Web Designing </h1>
            <h1 class="heading"> Programming </h1>
            <h1 class="heading"> Algorithms </h1>
    </div>
    <div style="color:white" class="col-md-4">
        I have been working on building web applications using different technologies.I am passionate
       about programming.I am also fond of complex backend systems that require critical thinking and logic
    </div>   
</div>
    
