
<div id="portfolio">
<div id="profile">
    <h1 class="welcome">{{message}}</h1>
    <p class="summary">{{summary}}</p>
    <img id="profImage" class="img-circle" src="../../arjun.JPG" />
    <div class="row">
        <div id="externurls">
            <a class="fa fa-facebook" target="_blank" href="https://facebook.com"></a>
            <a class="fa fa-linkedin" target="_blank" href="https://www.linkedin.com/in/arjun-bollam-3a558558/"></a>
            <a class="fa fa-google" target="_blank" href="https://google.com"></a>
        </div>
    </div>

    <div id="caption">LOGICALLY MINDED // CREATIVE AT HEART</div>
</div>
<div class="section-title">

    <h3>About Me</h3>
</div>
<div id="Venn">
    <div id="creative">
        <div id="text1">
            Creative
        </div>
    </div>
    <div id="random">
        <div id="text2">
            Random
        </div>
    </div>
    <div id="diggingdeeper">
        <div id="text3">
            Digging Deeper
        </div>
    </div>
</div>
<div>
    <p style="float:right">
        I am a Sofware developer with over 5 years of experince.
    </p>
</div>
</div>