#portfolio{
   margin: auto;
}
h1 {
    color: black;
    text-align: center
}
p{
    text-align: center;
}

.fa {
    padding: 6px;
    font-size: 10px;
    width:50px;
    height: 20px;
    margin: 2px;
}

.fa:hover {
   opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}
.fa-google {
    background: red;
    color: white;
}

@keyframes bounceIn{
   0% {
       transform: scale(0.1);
       opacity: 0;
   }

   60% {
       transform: scale(1.2);
       opacity: 1;
   }
   100% {
       transform: scale(1);
   }
}
.welcome {
     animation: bounceIn 2s;
}

.summary{
    animation: bounceIn 2s;
}


#profImage {
   height: 200px;
   width: 200px;
   margin: auto;
   display: block;
   -webkit-animation: bump 2s;
}

@-webkit-keyframes bump {
    0% {
        transform:scale(0.2); opacity: 0;
    }

    45% {
        transform:scale(0.7); opacity: 0.4;
    }
    60% {
        transform:scale(1.2);opacity: 1.2;
    }
    100% {
        transform: scale(1);opacity: 1;
    }
}

.section-title {
   background-color: #111010;
   color:white;
   width:100%;
   height: 34px;
   border-radius: 10px;
}
#profImage:hover {
 -webkit-animation: spin 0.7s  linear;
 -moz-animation: spin 0.7s  linear;
 -o-animation: spin 0.7s  linear;
}
@-webkit-keyframes spin {
    0% {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}
}
#externurls{
   width:86px;
   position: relative;
   left: 450px;
   border: 1px solid black;
   padding-left: 2px;
   margin: 1px;
   overflow: hidden;
}
a {
    display: inline;
    color: black;
}

#caption:hover {
 opacity: 0.2;

}
#caption{
    color: black;
    border: 2px solid black;
    border-radius: 6px;
    background-color:white;
    width:50%;
    height: 40px;
    text-align: center;
    padding: 10px;
    margin:auto;
    display: block;
}

#profile{
    width:100%;
    background-color:white;
}

#Venn {
    align-items: center;
    position: relative;
    margin: auto;
    display: block;
    top:30px;
    left : 400px;
}

#creative {
    background-color: black;
    width: 100px;
    height: 100px;
    border:1px solid white;
    border-radius: 50px;
    align-content: center;
    margin: auto;
    display: block;
    position: absolute;
    opacity: 0.7;
    animation: cr  ease-in-out 5s forwards;
}
#random {
    background-color: black;
    width: 100px;
    height: 100px;
    border:1px solid white;
    border-radius: 50px;
    align-content: center;
    margin: auto;
    display: block;
    position: absolute;
    opacity: 0.7;
    animation: ra ease-in-out 5s forwards;
}


#diggingdeeper {
    background-color: black;
    width: 100px;
    height: 100px;
    border:1px solid white;
    border-radius: 50px;
    align-content: center;
    margin: auto;
    display: flex;
    position: absolute;
    opacity: 0.7;
    animation: di ease-in-out 5s forwards;
}

@keyframes cr{
   from {
    -webkit-transform: translate(0,0)   
   }
   to {
     -webkit-transform: translate(0,-25%)
   }
    
}

@keyframes ra{
    from {
        -webkit-transform: translate(0,0)   
       }
       to {
        -webkit-transform: translate(-25%,25%)
       }
}

@keyframes di{
    from {
        -webkit-transform: translate(0,0)   
       }
       to {
        -webkit-transform: translate(25%,25%)
       }
}


#text1 {
     position: absolute;
     text-align: center;
     color: white;
     left: 22px;
     top:15px;
     font-size:10px;
}
#text2 {
    position: absolute;
    text-align: center;
    color: white;
    left: 16px;
    bottom:15px;
    font-size:10px;
}
#text3 {
    position: absolute;
    text-align: center;
    color: white;
    right: 10px;
    bottom:14px;
    font-size:10px;
}